body {
    text-align: center;
    font-family:calibri;
    margin: 0;
    padding: 0;
    background-color:silver;
}
main{
    padding:16px;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 30px;
    text-align: left;
}

h2 {
    font-size: 35px;
    text-align: left;
}

img{
    width:350px;
    height:250px;
}

input {
    position: left;
    width: 250px;

}

button {
    width: 200px;
    
}
header{
    height: 200px;
    background-image: url("../public/images/viagem-bg.jpg");
   
}
h3{
    font-size:35px;
    text-align:left;
}
footer{
    background-color:black;
    height:200px;
    color:white;
    text-align: left;
    font-size:20px;
    margin:0;
    padding:10px;
}